/*

Rojo: #D7263D
Azul oscuro: #02182B
Azul claro: #00AEEF
Gris: #efefef


*/

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {

    width: 100%;
    text-align: center;
}



/* ========= estilos para div.nav ============ */

.nav {
    background-color: #00AEEF;
    height: 50px;
    text-align: left;
    color: white;
    padding: 15px;
}






.nav .logo {
    float: left;
    width: 90px;
    text-align: center;

}

.nav .logo img {
    width: 50px;
}

.nav ul {
    float: right;
}

.nav ul li {

    display: inline-block;
    width: 120px;
    height: 20px;
    padding: 10px;
    text-align: center;
}

.ciudades {
    outline: 0;
    border: 0;
    background-color: #00AEEF;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

#inicia_sesion {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 130px;
    height: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: red;
}

#inicia_sesion:hover {
    box-shadow: 1px 1px 5px black;
}

/* =========== estilos para div.welcome_image ========== */

.welcome_image {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/alquiler-bicicletas-malaga.jpg);
    background-position: center;
    background-size: cover;
}

.welcome_image h1 {
    font-size: 4em;
    padding-top: 150px;
    color: black;
    font-weight: 300;
}

.welcome_image .gordo {
    font-weight: 400;
}

/*  ===================   */

.estaciones {
    width: 80%;
    height: 350px;
    margin: 0px auto;

}

.estaciones h2 {
    margin: 30px 0;
}

.estaciones table {

    border-collapse: collapse;
    text-align: left;
    width: 100%;

}

.estaciones table tr {
    height: 40px;
    font-size: 0.8em;

}

.estaciones table tr:nth-of-type(2n+1) {
    background-color: #efefef;
}

.estaciones table th {
    background-color: #D7263D;
    color: white;
    padding-left: 10px;
}



.estaciones table td {
    width: 20%;
    padding-left: 10px;
}

.estaciones table i {
    margin-right: 5px;
}

.estaciones .quedan_poco {
    font-weight: 600;
    color: #D7263D;
}



.rutas {
    background-color: #efefef;
    height: 500px;
    width: 100%;

}

.rutas .box_rutas {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}


.rutas .box_rutas h3 {
    color: black;
    margin: 30px 0;
}

.rutas .ruta {
    width: 32%;
    height: 400px;
    float: left;
    margin-right: 10px;
    background-color: white;

}

.rutas .ruta img {
    width: 100%;
}

.detalle {
    width: 100%;
    height: 30px;
    background-color:#02182B;
    color:white;    
}

.detalle div{
   float: left;
   width: 33%;
  padding-top:5px;
    
}

.detalle div i{
    margin-right: 5px;

}

.rutas .ruta a{
    text-decoration: none;
    display:block;
    width: 200px;
    height: 30px;
    background-color: #D7263D;
    margin:30px auto;
    padding-top:10px;
    color:white;
}


.footer ul li{
    



}





@media(max-width: 678px){
    .nav ul {
    display:none;
    }

    .nav {
    padding:0;
    }
    
    .welcome_image h1{
        font-size: 1em;
        padding-top: 30px;
    }
}/* de media*/































